h5 {
  color: orange;
  text-align: right;
}

 p {
   color: magenta;
   text-align: justify;
   font-style: italic;
   font-weight: 400;
 }
 div{
   background-color: violet;
   width: 100px;
   padding: 25px;
   border: 2px solid blue;
   position: absolute;


 }
 h2{
   position: fixed;
   top: 20px;
 }
 body {
 background-image: url("clg.jpg");
 background-color: #cccccc;
}
