<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>This is my first try </title>
  <link rel="stylesheet" href="styles.css"/>

</head>
<body >
  <header>
    <nav>
      <div id="pageintro" class='hoc clear'>

          <h3 class="heading">
          <a href="home.com" style="color:red;">Home page</a>
          </h3>
          </div>


          <a href="www.google.com">Google </a>



      </nav>
    </header>
    <main>
      <img style="width:245px;height:247px;"
      alt="Image description"
      src"{% static 'images/Image.png'%}"/>
      <section>
        <article>
          <h2 style="color:red;">This is the article section</h2>
          <p>
            This area deals with the paragraph region and its lovely
          </p>
        </article>
      </section>
      <aside>
        <ul>
          <li>
            <a href="Replies">Feedback</a>
          </li>
        </ul>
        <h3 style="color:blue;">This is in aside area</h3>
        <p>Then we have some text in this area and reading it would be very easy</p>
      </aside>
    </main>
    <footer>
      <ul>
        <li><a href="Comments.com">Comments plz</a>
        </li>
      </ul>
      Do write to us ab out the contents of this website<div><address> Kandathil puthen veedu <br>venmony po <br>689509</address>
      </div>


      <h5>This is the footer area and it contains the copyright details</h5>
    </footer>
  </body>
  </html>
